<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Site Properities -->
        <title><%= get_title(defined?(page_title) ? page_title : false) %></title>
        <meta name="description" content="<%= current_page.data.description || description %>" />
        <meta name="keywords" content="<%= current_page.data.keywords || keywords %>" />
        
        <!-- Social Media Properties -->
        <meta property="og:title" content="<%= get_social_description(defined?(page_title) ? page_title : false, false) %>" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content="<%= current_page.data.description || description %>" />
        
        <% post = defined?(post) ? post : false %>
        
        <link rel="icon" href="/asset/images/favicon.ico">

        <!-- Styles -->
        <%= stylesheet_link_tag "style" %>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700|Kalam' rel='stylesheet' type='text/css'>
        
    </head>
    <body class="<%= current_page.data.disableFooter ? "footer-disabled" : "" %>">

        <noscript>
            <div id="noscript-warning">
                <h2>JavaScript Recommended</h2>
                <p>
                    Some of the functionality on this website relies on JavaScript
                    to be enabled. Your experience will unfortunately be negatively
                    affected if you do not use JavaScript.
                </p>
            </div>
        </noscript>

        <script type="text/javascript">
            document.body.classList.remove("no-js")
        </script>
        
        <div id="blackout"></div>
        <div id="callouts"></div>

        <!-- Main Container -->
        <div id="container" class="container-<%= current_page.data.basenameOrig || get_basename() %>">
            <a name="top"></a>
            <%= partial('header') %>
            <%= yield %>
            <% if not current_page.data.disableFooter %>
            <div id="footer_push"></div>
            <% end %>
        </div>

        <% if not current_page.data.disableFooter %>
        <!-- Footer -->
        <footer>
            <div class="columns">
                <div class="social">
                    <%= get_list(data.footer.nav.social, "social") %>

                    <p>&nbsp;</p>
                    <a href="https://twitter.com/KomodoIDE" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @KomodoIDE</a>

                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= get_social_description(defined?(post) ? post : false) %>" data-dnt="true">Tweet</a>

                    <p>&nbsp;</p>

                    <script>
                        document.write('<div class="fb-like" data-href="'+location.href+'" data-layout="button" data-action="recommend" data-show-faces="false" data-share="true"></div>');
                    </script>
                </div>
                <div class="communicate">
                    <%= get_list(data.footer.nav.communicate) %>
                </div>
                <div class="newsletter">
                    <!--
                    <form>
                        <h3>Newsletter Sign Up</h3>
                        <input type="text" placeholder="Enter your E-Mail address"/>
                    </form>
                    -->

                    <p class="copytrade">
                        © 2016 ActiveState Software Inc. All rights reserved. ActiveState®, Komodo®, ActivePerl®, ActivePython®, ActiveTcl® are registered trademarks of ActiveState. All other marks are property of their respective owners.
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        <a href="/privacy">Privacy Policy</a> |
                        <a href="http://www.activestate.com/komodo-ide/license-agreement">License Terms</a>
                    </p>
                </div>
            </div>
        </footer>
        <% end %>
        
        <!-- Analytics -->
        <% if is_live %>
            <!-- Google Analytics -->
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
              
              ga('create', 'UA-47685083-1', 'auto');
              ga('require', 'linkid', 'linkid.js');
              ga('send', 'pageview');
              
              ga('create', 'UA-20072-24', 'auto', {'allowLinker': true, name: 'AS'});
              ga('AS.require', 'linker');
              ga('AS.require', 'linkid', 'linkid.js');
              ga('AS.linker:autoLink', ['activestate.com']);
              ga('AS.send', 'pageview');
            </script>
    
            <!-- Adwords -->
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 1071420929;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1071420929/?value=0&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>
    
            <!-- Clicky -->
            <script type="text/javascript">
            var clicky_site_ids = clicky_site_ids || [];
            clicky_site_ids.push(100751147);
            (function() {
              var s = document.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = '//static.getclicky.com/js';
              ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
            })();
            </script>
            <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100751147ns.gif" /></p></noscript>

        <% end %>

        <!-- Marketo -->
        <script type="text/javascript">
        (function() {
          var didInit = false;
          function initMunchkin() {
            if(didInit === false) {
              didInit = true;
              Munchkin.init('894-ACS-622');
            }
          }
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//munchkin.marketo.net/munchkin.js';
          s.onreadystatechange = function() {
            if (this.readyState == 'complete' || this.readyState == 'loaded') {
              initMunchkin();
            }
          };
          s.onload = initMunchkin;
          document.getElementsByTagName('head')[0].appendChild(s);
        })();
        </script>

        <!-- Scripts -->
        <script>
        //<![CDATA[
            window.twttr = (function (d,s,id) {
            var t, js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
            js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
            return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
            }(document, "script", "twitter-wjs"));
            twttr.ready(function (twttr) {
                twttr.events.bind('tweet', function (event) {
                    $.event.trigger({
                        type: "pageShared",
                        url: event.target.baseURI,
                        network: "Twitter",
                        action: "Tweet"
                    });
                    if (ga) ga('send', 'social', 'Twitter', 'Tweet');
                });
            });

            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=252636704908473&version=v2.0";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            window.fbAsyncInit = function() {
                // init the FB JS SDK

                FB.Event.subscribe('edge.create', function(href, widget) {
                    $.event.trigger({
                        type: "pageShared",
                        url: href,
                        network: "Facebook",
                        action: "like"
                    });
                });
            };
        //]]>
        </script>
        
        <%= javascript_include_tag  "script" %>
    </body>
</html>
